/* start varibels*/
:root {
  --primaire-color: #9356dc;
  --secendry--color: #ff79da;
  --tertiaire-color: #99e2d0;
  --main-transition: 0.3s;
}

/*---------------------------------- start golbels*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  background-color: rgb(248, 248, 248);
  height: auto;
  max-width: 1200px;
}
html {
  scroll-behavior: smooth;
}
p {
  margin: 0;
}


/*----------------------------------start header-------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-shadow: 0px 5px 5px lightgrey;
  position: relative;
  width: 100%;
}
/*------------------------ start resto-1-------*/
.header .go-back{
  width: 45px;
  height: 45px;
  font-size: 22px;
  top:40%;
  left: 35px;
  position: absolute;
  
}
a {
  color: black;
  text-decoration: none;
}
/*------------------------ endresto-1-------*/
.header img {
  width: 198px;
  height: 30px;
  margin-top: 23px;
  margin-bottom: 12px;
  position: relative;
}

/*----------------------------------------------------------start main*/
.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
}
.recherche i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
}
.recherche .input {
  font-size: 15px;
  font-weight: 400;
  background-color: rgb(214, 214, 214);
  border-style: none;
  color: black;
}
.intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 234, 234);
  height: 280px;
  align-items: center;
}
.intro .intro-sec {
  padding-top:30px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.intro .intro-sec h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}
.intro .intro-sec > p {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.intro .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 15px;
  border-radius: 40px;
  background: linear-gradient(
    170deg,
    var(--secendry--color),
    var(--primaire-color)
  );
  box-shadow: 4px 4px 2px lightgrey;
  cursor: pointer;
  transition: var(--main-transition);
}
.btn p {
  font-size: 15px;
}
.btn:hover {
  background: linear-gradient(
    170deg,
    rgba(255, 121, 218, 0.8) 0%,
    rgba(214, 108, 219, 0.8) 39%,
    rgba(171, 94, 220, 0.8) 85%,
    rgba(155, 89, 220, 0.8) 100%
  );
  box-shadow: 8px 8px 2px #acabab;
}
/*----------------------------------------start fonction sec*/
.fonction {
  margin-top: 45px;
  margin-left: 10px;
  margin-bottom: 45px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 350px;
}
@media (min-width: 767px) {
  .fonction {
    height: 250px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .fonction {
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.fonction .fonct-title {
  margin-left: 15px;
  margin-bottom: 20px;
}

.fonction .fonct-title p {
  font-size: 25px;
  font-weight: 500;
}
.fonction .fonction-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 767px) {
  .fonction .fonction-list {
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
  }
}
@media (min-width: 992px) {
  .fonction .fonction-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.fonction .fonction-list .fonct-1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(237, 234, 234);
  border-radius: 47px;
  width: 97%;
  margin-bottom: 15px;
  position: relative;
}
@media (min-width: 767px) {
  .fonction .fonction-list .fonct-1  {
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
  }
}
@media (min-width: 992px) {
  .fonction .fonction-list .fonct-1 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
  }
}
.fonction .fonct-1 > i:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: #9356dc;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.fonction .fonct-1 > i:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 30px;
  height: 35px;
  margin: 30px;
  color: rgb(101, 99, 99);
}
.fonction .fonct-1 p {
  font-weight: 500;
}

.fonction .fonct-1:hover {
  background-color: #eee4f9;
}
.fonction .fonction-list .fonct-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(237, 234, 234);
  border-radius: 47px;
  width: 97%;
  margin-bottom: 15px;
  position: relative;
  background-color:  #eee4f9;
  ;
}
@media (min-width: 767px) {
  .fonction .fonction-list .fonct-2 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
  }
}
@media (min-width: 992px) {
  .fonction .fonction-list .fonct-2 {
    flex-direction: row;
    flex-wrap: wrap;
    width:30%;
  }
}
.fonction .fonct-2 > i:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.fonction .fonct-2 > i:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 30px;
  height: 35px;
  margin: 30px;
  color: #9356dc;
}
.fonction .fonct-2 p {
  font-weight: 500;
}



/*---------------------------------restaurants-list------*/
.restaurants-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 234, 234);
  height: fit-content;
}

.restaurants-list .title p {
  font-size: 25px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 4px;
  margin-left: 25px;
  padding: 12px;
}

.restaurants-list .restaurants-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 90%;
  margin-left: 15px;
  margin-right: 15px;
  padding: 16px;
}
@media (min-width: 992px) {
  .restaurants-list .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants-list .restaurants-cards .restaurants-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 87%;
  background-color: white;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  margin: 20px;
}
.restaurants-list .restaurants-cards .restaurants-1:hover {
  box-shadow: 0px 5px 15px 5px #FF79DA;
  transition: var(--main-transition);
  transform: translate3d(10px , 15px, 25px);
}
@media (min-width: 992px) {
  .restaurants-list .restaurants-cards .restaurants-1 {
    width: 40%;
  }
}

.restaurants-list .restaurants-cards .restaurants-1 img {
  object-fit: cover;
  width: 90vw;
  height: 150px;
  margin: 0;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}

.restaurants-list .restaurants-1 .span p {
  position: absolute;
  right: 100px;
  z-index: 1;
  background-color: #99e2d0;
  transform: translate(55px, 20px);
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #307866;
  font-weight: 500;
  padding: 5px;
  font-size: 13px;
}
.restaurants-1 .caption {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.restaurants-1 .caption h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.restaurants-1 .caption p {
  font-weight: 300;
  font-size: 18px;
}
.restaurants-1 .row-cap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 68px;
  align-items: center;
}
@media (min-width: 992px) {
  .restaurants-1 .row-cap {
    width: 40%;
  }
}
.restaurants-1 .row-cap .icone-heart {
  display: inline-block;
  height: 3em;
  line-height: 2em;
  width: 2.5em;
  font-size: xx-large;
  bottom: 10px;
  font-weight: 400;
  cursor: pointer;
  top: 15px;
  position: relative;
}
.restaurants-1 .icone-heart .fa-heart-x1 {
  line-height: inherit;
}
.fa-heart-x1,
.fa-heart-x2 {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.restaurants-1 .icone-heart .fa-heart-x2 {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
  line-height: inherit;
}

.restaurants-1 .icone-heart .fa-heart-x2:hover {
  background: rgb(255,121,218);
  background: linear-gradient(90deg, rgba(255,121,218,1) 42%, rgba(147,86,220,1) 71%);
  font-size: large;
  transform: scale(2);
  -webkit-background-clip: text;
  transition: var(--main-transition);
}

.restaurants-list .restaurants-cards .restaurants-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 87%;
  background-color: white;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.restaurants-list .restaurants-cards .restaurants-2:hover {
  box-shadow: 0px 5px 15px 5px #FF79DA;
  transition: var(--main-transition);
  transform: translate3d(10px , 15px, 25px);
}
@media (min-width: 992px) {
  .restaurants-list .restaurants-cards .restaurants-2 {
    width: 40%;
  }
}

.restaurants-list .restaurants-cards .restaurants-2 img {
  object-fit: cover;
  width: 90vw;
  height: 150px;
  margin: 0;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}
.restaurants-list .restaurants-2 .span p {
  position: absolute;
  right: 100px;
  z-index: 1;
  background-color: #99e2d0;
  transform: translate(55px, 20px);
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #307866;
  font-weight: 500;
  padding: 5px;
  font-size: 13px;
}

.restaurants-2 .caption {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.restaurants-2 .caption h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.restaurants-2 .caption p {
  font-weight: 300;
  font-size: 18px;
}
.restaurants-2 .row-cap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 68px;
  align-items: center;
}

@media (min-width: 992px) {
  .restaurants-2 .row-cap {
    width: 40%;
  }
}
.restaurants-2 .row-cap .icone-heart {
  display: inline-block;
  height: 3em;
  line-height: 2em;
  width: 2.5em;
  font-size: xx-large;
  bottom: 10px;
  font-weight: 400;
  cursor: pointer;
  top: 15px;
  position: relative;
}
.restaurants-2 .icone-heart .fa-heart-x1 {
  line-height: inherit;
}
.fa-heart-x1,
.fa-heart-x2 {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.restaurants-2 .icone-heart .fa-heart-x2 {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
  line-height: inherit;
}

.restaurants-2 .icone-heart .fa-heart-x2:hover {
  background: rgb(255,121,218);
  background: linear-gradient(90deg, rgba(255,121,218,1) 42%, rgba(147,86,220,1) 71%);
  font-size: large;
  transform: scale(2);
  -webkit-background-clip: text;
}

.restaurants-list .restaurants-cards .restaurants-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 87%;
  background-color: white;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  margin: 20px;
}


.restaurants-list .restaurants-cards .restaurants-3:hover {
  box-shadow: 0px 5px 15px 5px #FF79DA;
  transition: var(--main-transition);
  transform: translate3d(10px , 15px, 25px);
}
@media (min-width: 992px) {
  .restaurants-list .restaurants-cards .restaurants-3 {
    width: 40%;
  }
}

.restaurants-list .restaurants-cards .restaurants-3 img {
  object-fit: cover;
  width: 90vw;
  height: 150px;
  margin: 0;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}

.restaurants-3 .caption {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.restaurants-3 .caption h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.restaurants-3 .caption p {
  font-weight: 300;
  font-size: 18px;
}

.restaurants-3 .row-cap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 68px;
  align-items: center;
}
@media (min-width: 992px) {
  .restaurants-3 .row-cap {
    width: 40%;
  }
}

.restaurants-3 .row-cap .icone-heart {
  display: inline-block;
  height: 3em;
  line-height: 2em;
  width: 2.5em;
  font-size: xx-large;
  bottom: 10px;
  font-weight: 400;
  cursor: pointer;
  top: 15px;
  position: relative;
}
.restaurants-3 .icone-heart .fa-heart-x1 {
  line-height: inherit;
}
.fa-heart-x1,
.fa-heart-x2 {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.restaurants-3 .icone-heart .fa-heart-x2 {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
  line-height: inherit;
}

.restaurants-3 .icone-heart .fa-heart-x2:hover {
  background: rgb(255,121,218);
  background: linear-gradient(90deg, rgba(255,121,218,1) 42%, rgba(147,86,220,1) 71%);
  font-size: large;
  transform: scale(2);
  -webkit-background-clip: text;
}

.restaurants-list .restaurants-cards .restaurants-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 87%;
  background-color: white;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.restaurants-list .restaurants-cards .restaurants-4:hover {
  box-shadow: 0px 5px 15px 5px #FF79DA;
  transition: var(--main-transition);
  transform: translate3d(10px , 15px, 25px);
}

@media (min-width: 992px) {
  .restaurants-list .restaurants-cards .restaurants-4 {
    width: 40%;
  }
}

.restaurants-list .restaurants-cards .restaurants-4 img {
  object-fit: cover;
  width: 90vw;
  height: 150px;
  margin: 0;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}
.restaurants-4 .caption {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.restaurants-4 .caption h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.restaurants-4 .caption p {
  font-weight: 300;
  font-size: 18px;
}

.restaurants-4 .row-cap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 68px;
  align-items: center;
}
@media (min-width: 992px) {
  .restaurants-4 .row-cap {
    width: 40%;
  }
}
.restaurants-4 .row-cap .icone-heart {
  display: inline-block;
  height: 3em;
  line-height: 2em;
  width: 2.5em;
  font-size: xx-large;
  bottom: 10px;
  font-weight: 400;
  cursor: pointer;
  top: 15px;
  position: relative;
}
.restaurants-4 .icone-heart .fa-heart-x1 {
  line-height: inherit;
}
.fa-heart-x1,
.fa-heart-x2 {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.restaurants-4 .icone-heart .fa-heart-x2 {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
  line-height: inherit;
}

.restaurants-4 .icone-heart .fa-heart-x2:hover {
  background: rgb(255,121,218);
  background: linear-gradient(90deg, rgba(255,121,218,1) 42%, rgba(147,86,220,1) 71%);
  font-size: large;
  transform: scale(2);
  -webkit-background-clip: text;
}

/*---------------------------------------------start footer-------------------*/

.footer-section {
  background-color: black;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .footer-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-section h1 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}
.footer-section .footer-list {
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 27%;
  height: 120px;
}
@media (min-width: 767px) {
  .footer-section .footer-list {
    flex-direction: row;
    align-items: center;
    width: 70%;
  }
}
.footer-section .footer-list .proposer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-section .footer-list .proposer p {
  margin-left: 6px;
  font-size: 15px;
}

.footer-section .footer-list .partenaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-section .footer-list .partenaire p {
  width: 87%;
  font-size: 15px;
}
.footer-section .footer-list .contact {
  font-size: 15px;
  
}
.footer-section .footer-list .contact a{
  color: white
}
/*------------------------ start-resto-1-------*/
/*start-main---------*/
.resto-image img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.resto-name {
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  transform: translateY(-80px);
  margin-bottom: -80px;
  padding: 5px 5vw;
  background-color: #f6f6f6;
  font-family: shrikhand, cursive;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resto-name h1 {
  font-size: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.resto-name .icone-heart {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  width: 2.5em;
  font-size: xx-large;
  bottom: 10px;
  font-weight: 400;
  cursor: pointer;
  top: 15px;
  position: relative;
}
.resto-name .icone-heart .fa-heart-x1 {
  line-height: inherit;
}
.fa-heart-x1,
.fa-heart-x2 {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.resto-name .icone-heart .fa-heart-x2 {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
  line-height: inherit;
}

.resto-name .icone-heart .fa-heart-x2:hover {
  background: rgb(255,121,218);
  background: linear-gradient(90deg, rgba(255,121,218,1) 42%, rgba(147,86,220,1) 71%);
  font-size: large;
  transform: scale(2);
  -webkit-background-clip: text;
}

.resto-menu {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 767px) {
  .resto-menu {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
  }
}
@media (min-width: 992px) {
  .resto-menu {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}
.resto-menu .entrées-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 25%;
  width: 100%;
  
}
@media (min-width: 767px) {
  .resto-menu .entrées-menu {
    flex-wrap: wrap;
    width: 50%
  }
}
@media (min-width: 992px) {
  .resto-menu .entrées-menu {
    flex-wrap: nowrap;
    width: 33%;
  }
}
.entrées-menu .entrées p {
  font-weight: 300;
}
.entrées-menu .entrées::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 3px;
  background-color: var(--tertiaire-color);
  transition: var(--main-transition);
  margin-top: 18px;
}
.entrées-menu .entrées-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  margin:auto;
}

.entrées-list .list-1 {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  height: fit-content;
  margin: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 2000ms;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%;
}
@media (min-width: 767px){
  .entrées-list .list-1  {
    width: 80%;
  }
}
.list-1 .caption {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
}

.list-1 .caption h3 {
  margin: 2px;
  margin-left: 13px;
  margin-top: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px;
}

.list-1 .discription-pris {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.list-1 .discription-pris p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  margin: 2px;
  margin-left: 16px;
}
.list-1 .discription-pris .pris p {
  font-weight: bold;
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.icone-check {
  flex: 0%;
  color: #f6f6f6;
  background-color: #99e2d0;
  font-size: xx-large;
  text-align: center;
  height: 2.1em;
  line-height: 2.1em;
  white-space: nowrap;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  transform: translateX(100px);
  cursor: pointer;
  transition: all 700ms;
}

.list-1:hover > .icone-check {
  flex: 25%;
  transform: translateX(0px);
  background-color: #99e2d0;
  cursor: pointer;
  color: #f6f6f6;
}
.list-1:hover > .icone-check i {
  transform: rotate(180deg);
  animation: rotate 0.9s both;
}
@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform : rotate(360deg)
  }
}
.resto-menu .plats-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 25%;
  width: 100%;
  
}
@media (min-width: 767px) {
  .resto-menu .plats-menu {
    flex-wrap: wrap;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .resto-menu .plats-menu {
    flex-wrap: nowrap;
    width: 33%;
  }
}
.resto-menu .plats-menu .plats p {
  font-weight: 300;
}

.resto-menu .plats-menu .plats::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: var(--tertiaire-color);
  transition: var(--main-transition);
  margin-top: 20px;
}
.resto-menu .plats-menu .plats-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  margin:auto;
}

.resto-menu .plats-menu .plats-list .list-1 {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  height: fit-content;
  margin: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 2000ms;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%;
}
@media (min-width: 767px){
  .resto-menu .plats-menu .plats-list .list-1  {
    width: 80%;
  }
}
.resto-menuv .plats-menu .list-1 .caption {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
}




.resto-menu .Desserts-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 25%;

}
@media (min-width: 787px) {
  .resto-menu .Desserts-menu {
    margin-left: 250px;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .resto-menu .Desserts-menu {
    margin: 0px;
    flex-wrap: nowrap;
    width: 33%;;
  }
}
.resto-menu .Desserts-menu .Desserts p {
  font-weight: 300;
}
.resto-menu .Desserts-menu .Desserts::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 3px;
  background-color: var(--tertiaire-color);
  transition: var(--main-transition);
  margin-top: 20px;
}
.resto-menu .Desserts-menu .Desserts-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  margin:auto;
}

.resto-menu .Desserts-menu .Desserts-list .list-1 {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  height: fit-content;
  margin: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 2000ms;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%
}
@media (min-width: 767px){
  .resto-menu .Desserts-menu .Desserts-list .list-1  {
    width: 80%;
  }
}
.resto-menu .Desserts-menu .Desserts-list .caption {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
}



.explore-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.btn-1 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 15px;
  border-radius: 40px;
  background: linear-gradient(
    170deg,
    var(--secendry--color),
    var(--primaire-color)
  );
  box-shadow: 4px 4px 2px lightgrey;
  cursor: pointer;
  transition: var(--main-transition);
  margin-top: 25px;
}
.btn-1:hover {
  background: linear-gradient(
    170deg,
    rgba(255, 121, 218, 0.8) 0%,
    rgba(214, 108, 219, 0.8) 39%,
    rgba(171, 94, 220, 0.8) 85%,
    rgba(155, 89, 220, 0.8) 100%
  );
  box-shadow: 8px 8px 2px #acabab;
}

header,
main,
footer {
  animation-name: opacity;
  animation-direction: normal;
  animation-duration: 2500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}
@keyframes opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.entrées-menu .entrées-list .list-1{
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}
@keyframes appear {
      0% {
      opacity:0;
      transform:translateY(-100px);  
      }
      50% {
          opacity: 0.50;
      }
      100% {
          opacity:1
      }
}
.plats-menu .plats-list .list-1 {
    animation-name: appear;
    animation-duration: 2.25s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}
@keyframes appear {
      0% {
      opacity:0;
      transform: translateY(-100px);  
      }
      50% {
          opacity: 0.50;
      }
      100% {
          opacity:1
      }
}
.Desserts-menu .Desserts-list .list-1 {
    animation-name: appear;
    animation-duration: 2.5s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}
@keyframes appear {
      0% {
      opacity:0;
      transform: translateY(-100px);  
      }
      50% {
          opacity: 0.50;
      }
      100% {
          opacity:1
      }
}

/*------------------ span-animation*/


.load-anim1,
.load-anim2 {
  width: 200px;
  height: 200px;
  border: 5px solid #cccccc;
  border-radius: 50%;
  animation-name: loadAnim;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.35, 0.36, 0.72, 0.72);
  animation-fill-mode: forwards;
  position: absolute;
  margin: auto auto auto auto;
  left: 0;
  bottom:100px;
  right: 0;
}
.load-anim2 {
  animation-name: loadAnim2;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.35, 0.36, 0.72, 0.72);
}
@keyframes loadAnim {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
    border-left-color: rgba(255, 121, 218, 0.8) ;
    border-top-color: rgba(214, 108, 219, 0.8) ;
    border-right-color: rgba(171, 94, 220, 0.8) ;
    border-bottom-color: rgba(155, 89, 220, 0.8) ;
    opacity: 1;
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
    border-left-color: rgba(255, 121, 218, 0.8) ;
    border-top-color: rgba(214, 108, 219, 0.8) ;
    border-right-color: rgba(171, 94, 220, 0.8) ;
    border-bottom-color: rgba(155, 89, 220, 0.8) ;
    opacity: 0;
  }
}
@keyframes loadAnim2 {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
    border-left-color: rgba(255, 121, 218, 0.8) ;
    border-top-color: rgba(214, 108, 219, 0.8) ;
    border-right-color: rgba(171, 94, 220, 0.8) ;
    border-bottom-color: rgba(155, 89, 220, 0.8) ;
    opacity: 1;
  }
  100% {
    transform: rotate3d(1, 1, 1, -360deg);
    border-left-color: rgba(255, 121, 218, 0.8) ;
    border-top-color: rgba(214, 108, 219, 0.8) ;
    border-right-color: rgba(171, 94, 220, 0.8) ;
    border-bottom-color: rgba(155, 89, 220, 0.8) ;
    opacity: 0;
  }
}